{% extends "template.html.twig" %}


{% block title %}{{ parent() }} | Error 404{% endblock %}
{% block hero %}

    <div class="text-center no-underline font-bold text-[70px] tracking-[10px] h-1/5 flex items-end justify-center mb-8 pt-8">
        <h1 class="text-center">
            Are you lost?
        </h1>
    </div>
    <div class="h-1/2 flex items-center justify-center mt-8">
        <img class="pb-8"
             src="{{ PUB_DIR }}images/404.png"
             alt="404">
    </div>
    <div class="h-12 flex items-center justify-center">
        <h6 class="text-sm text-sky-500 font-bold">
            <a href="?route={{ userRole ? "showGeneral" : "home" }}">
                &lpar;Return Home&rpar;
            </a>
        </h6>
    </div>

{% endblock %}



